USE [master]
GO
/****** Object:  Database [CostControlDB]    Script Date: 22.08.2022 17:08:50 ******/
CREATE DATABASE [CostControlDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CostControlDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CostControlDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CostControlDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CostControlDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CostControlDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CostControlDB]
GO
/****** Object:  User [dbuser]    Script Date: 22.08.2022 17:08:50 ******/
CREATE USER [dbuser] FOR LOGIN [dbuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [dbuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [dbuser]
GO
/****** Object:  Table [dbo].[CostControl]    Script Date: 22.08.2022 17:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostControl](
	[Device] [nchar](15) NOT NULL,
	[Date] [date] NULL,
	[Category] [nchar](15) NOT NULL,
	[Cost] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
